#about-me {
  width: 100vw;
  background-color: #f9f8f6;
  background-image: url("../images/about-me-bg.jpg");
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-top: 10%;
}

.about-me-title {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-family: 'Gloock', serif;
  font-size: 50px;
  color: #dead4b;
  margin-top: 10vw;
}

.about-me-body {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
  margin-bottom: 20vh;
}

.card {
  height: 80%;
  width: 30%;
  background-color: #eaeceadd;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

.is-rounded {
  border: solid black 1px;
  border-radius: 3%;
}

.has-shadow {
  box-shadow: 20px 20px 30px 0 rgba(145, 145, 145, 0.5);
}

.card-heading {
  text-align: center;
  font-size: 30px;
}

.card-description {
  font-size: 20px;
}

.image-card {
  overflow: hidden;
}

.image-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .about-me-title {
    font-size: 35px;
  }

  .card {
    padding: 15px;
  }

  .card-heading {
    text-align: center;
    font-size: 20px;
  }

  .card-description {
    font-size: 15px;
  }
}

/* MOBILE Screens */

/* Surface duo and similars*/
@media (max-width: 540px) {
  #about-me{
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  .about-me-body {
    margin-bottom: 10vh;
  }
}

/* General adjustments for screens up to 500px */
@media (max-width: 500px) {
  #about-me {
    height: 140vh;
  }
   
  .about-me-body {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .card {
    height: 45%;
    width: 50%;
    margin-bottom: 10px;
  }

  .image-card {
    height: 30%;
  }
}

/* Iphone XR and similars */ 
@media (max-width: 414px){
  .about-me-title {
    font-size: 30px;
    margin-right: 0px;
  }
}

/* Iphone 12 Pro and similars */
@media (max-width: 390px) {
}

/* Iphone SE and similars */
@media (max-width: 375px) {
}

/* Samsung Galaxy S8+ and similars */
@media (max-width: 360px) {
}

/* Galaxy Fold and similars */
@media (max-width: 280px) {
  .about-me-title {
    font-size: 23px;
  }
}