/* HEADER STYLING */ 

#header {
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #f3e6e0;
  padding: 0% 5% 0% 5%;
}

.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  font-family: 'Imbue', serif;
  font-size: 50px; 
  color: #60605a;
}

.header-nav-items {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  letter-spacing: 0px;
}

.header-nav-items > a {
  text-decoration: none;
  color: #8f8985;
  margin-left: 10px;
} 

.header-nav-items > a:hover {
  color: #b9b1ad;
  text-decoration: none;
}

.contact-button {
  justify-content: right;
  align-self: center;
  background-color: #ffffffa8;
  border: 1px solid #bbb5b2;
  border-radius: 30px;
  padding: 5px 18px 5px 18px;
}

.contact-button a{
  font-size: 16px;
  color: #bbb5b2;
  text-decoration: none;
  justify-self: baseline;
}

.contact-button:hover {
  background-image: -webkit-linear-gradient(bottom, #fff, #fbf9f3);
  background-image: linear-gradient(bottom, #fff, #fbf9f3);
  box-shadow: 4px 4px #a6a09d;
}

a.contact-button:hover {
  color: #a49d99;
}

/* MOBILE MENU */

/* Mobile screen sizes hidden and displayed elements  */
@media (max-width: 638px) {
  .header-logo, .header-nav-items, .contact-button {
    display: none;
  }

  .mobile-hamburger-menu {
    display:flex;
    justify-content: end;
    box-sizing: border-box;
    width: 100%;
  }
}

.mobile-navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.mobile-contact-button {
  text-decoration: none;
  color: #9f9895;
  border: 1px solid #bbb5b2;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #ffffffa8;
  box-shadow: 6px 4px #9f9895;
  padding: 10px 18px;
}

.mobile-header-logo {
  text-decoration: none;
  font-size: 35px; 
  font-family: 'Imbue', serif;
  color: #726c69;
  margin-left: 15px;
}

.mobile-hamburger-icon {
  font-size: 32px;
  display: flex;
  align-items: start;
  color: #9f9895;
  margin-top: 5px;
}

.mobile-menu {
  display: none;  
}

.open .mobile-menu {
  width: 100vw;
  position: absolute;
  left: -15px;
  top: 10vh;
  border-bottom: 2px solid #9d9996;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  box-shadow: 0px 15px #b8b1aeaa;
}

.mobile-menu div {
  width: 100vw;
  height: 5vh;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  background-color: #fff8f4;
}

.mobile-menu div a {
  text-decoration: none;
  color: #8f8985;
}

.mobile-menu div:first-child {
  margin-top: 30px;
}

.mobile-menu div:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Narrow screens like Galaxy fold */
@media (max-width: 334px) {
  .mobile-contact-button {
    font-size: 15px;
    box-shadow: 6px 2px #9f9895;
    padding: 5px 10px;
  }

  .mobile-header-logo {
    font-size: 25px;
  }

  .mobile-hamburger-icon {
    font-size: 28px;
  }

  .open .mobile-menu {
    left: -12px;
  }

}

/* Medium screen sizes */
@media (min-width: 638px) {
  .mobile-navbar {
    display: none;
  }
}

/* Large screen sizes  */
@media (min-width: 1080px) {
}