/* HERO SECTION STYLING */

#hero {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  overflow: hidden;
}

.hero-text {
  font-family: 'Gloock', serif;
  margin: 5% 0px 10% 5%;
}

/* Ilustrate html tags */
#hero-typewrited-msg .text-tags, .hero-text .text-tags {
  font-size: 15px;
  font-family: 'Poppins';
  color: rgb(220, 205, 205);
}

.hero-text > h1 {
  display: inline;
  font-size: 40px;
  color: #d98c19d0;
}

#hero-typewrited-msg {
  font-size: 25px;
  letter-spacing: 1px;
  color: #beacac;
}

.hero-img {
  z-index: -1;
  transform: scaleX(-1);
  position: absolute;
  max-height: 60%;
  right: 0px;
  bottom: 0px;
}

/* MOBILE Screens */

/* General adjustments for screens up to 500px */
@media (max-width: 550px) {
  .hero-text {
    margin: 10% 0px 10% 2%;
  }

  .hero-text > h1 {
    font-size: 25px;
  }

  #hero-typewrited-msg {
    font-size: 18px;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Galaxy Fold and similars */
@media (max-width: 280px) {
  #hero {
    padding-top: 25%;
  }
  
  .hero-text > h1 {
    font-size: 20px;
  }

  /* Ilustrate html tags */
  #hero-typewrited-msg .text-tags, .hero-text .text-tags {
    font-size: 10px;
  }

  #hero-typewrited-msg {
    font-size: 12px;
  }
}

/* Samsung Galaxy S8+ and similars */
@media (max-width: 360px) {
  #hero-typewrited-msg {
    font-size: 15px;
  }
}

/* Iphone SE and similars */
@media (max-width: 375px) {
  #hero-typewrited-msg {
    font-size: 15px;
  }
}

/* Iphone 12 Pro and similars */
@media (max-width: 390px) {
  /* Ilustrate html tags */
  #hero-typewrited-msg .text-tags, .hero-text .text-tags {
    font-size: 12px;
  }
}

/* Iphone XR and similars */ 
@media (max-width: 414px){
  #hero {
    padding-top: 20%;
  }
  
  .hero-text {
    margin-top: 15%;
  }
}

/* Surface duo and similars*/
@media (min-width: 540px) {
  .hero-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

/* MEDIUM and LARGE screens */

@media (min-width: 541px) {
  /* Ilustrate html tags */
  #hero-typewrited-msg .text-tags, .hero-text .text-tags {
    font-size: 20px;
  }

  .hero-text > h1 {
    font-size: 45px;
  }

  #hero-typewrited-msg {
    font-size: 30px;
  }

  .hero-img {
    width: auto;
    height: 70%;
    object-fit: cover;
  }
}
